{# templates/default/home.html.twig #}
{% extends 'base.html.twig' %}  
{% block body %}  

<!DOCTYPE html>

    <html>
        <head>
            <title>{{ title }}</title>
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </head>

        <body>
            <h1>{{ title }}</h1>
            
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/login"><button class="button1">S'inscrire</button></a>
                    </div>
                </div>    
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/login"><button class="button2">Se connecter</button></a>
                    </div>
                </div>    
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/staff_login"><button class="button3">Espace employé</button></a>
                    </div>
                </div>    
            </div>
        </body>
    </html>

{% endblock %}

