{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div>
        <h1>Administration</h1>
        <p class="lead">Bienvenue dans le pannel d'administration de la médiathèque</p>
    </div>

{% endblock %}